html {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#start-restart {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-left: 48%;
    margin-bottom: 20px;
}

#gameStatus {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body {
    margin: 0;
}

canvas {
    display: inline-block;
}

#holdBlockContainer {
    position: absolute; 
    left: 32.5%;

}

#holdBlockConsole {
    position: relative;
    margin-top: 0;
    border: 2px solid grey;
    background-color: white;
}

#hold {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
}

#gameContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#gameConsole {
    position: relative;
    margin: 0 auto;
    display: block;
    border: 2px solid grey;
    background-color: white;
}

#infoContainer {
    position: absolute;
    right: 32.5%;

}

#nextBlockConsole {
    position: relative;
    margin: 0 auto;
    border: 2px solid grey;
    background-color: white;
}

#score {
    position: relative;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
}