h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 50px;
}

body {
    margin: 0;
}

canvas {
    display: inline-block;
}

#gameContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#gameConsole {
    position: relative;
    margin: 0 auto;
    display: block;
    border: 2px solid grey;
    background-color: white;
}

#infoContainer {
    position: absolute;
    right: 32.5%;

}

#nextBlockConsole {
    position: relative;
    margin: 0 auto;
    border: 2px solid grey;
    background-color: white;
}

#score {
    position: relative;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
}