h1 {
    text-align: center;

}

body {
    margin: 0;
}

#gameContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#gameConsole {
    position: relative;
    margin: 0 auto;
    display: block;
    border: 2px solid grey;
    background-color: white;
}

#nextBlockConsole {
    position: relative;
    left: 700px;
    bottom: 520px;
    border: 2px solid grey;
    background-color: white;
}

#score {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
    left: 700px;
    bottom: 520px;
}